<!-- Display data received from the back end <br/>
response data = {{ responsedata | json}}
<div>
  <table ng-controller="userMoviesCtrl">
    <tr ng-repeat="x in movies">
      <td> {{ x.id }} </td>
    </tr>
  </table>
</div>

<body>
  <header>
    <!-- nav bar -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">

      <a class="navbar-brand" href="./index.php">Random Movie Generator</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>



      <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="./index.php">Main</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./recently-released.php">Recently Released</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./about.php">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./user.html">User</a>
          </li>
        </ul>
      </div>

    </nav>
  </header>

  <h2 style="text-align: center; padding-top: 5%;">User Movies</h2>

  <button type="button" class="btn btn-sm btn-primary login-button" id="toggle">Toggle View</button>

  <!-- <div id="row-view">
    <div class="row" id="developer">
      <div class="col text-center">
        <img src="../assets/blank-movie.jpg" class="grid-img">
        <p class="mov-desc"> This is a movie description </p>
      </div>
      <div class="col text-center">
        <img src="../assets/blank-movie.jpg" class="grid-img">
        <p class="mov-desc"> This is a movie description </p>
      </div>
      <div class="col text-center">
        <img src="../assets/blank-movie.jpg" class="grid-img">
        <p class="mov-desc">  This is a movie description </p>
      </div>
    </div>
    <div class="row" id="developer2">
      <div class="col text-center">
        <img src="../assets/blank-movie.jpg" class="grid-img">
        <p class="mov-desc"> This is a movie description </p>
      </div>
      <div class="col text-center">
        <img src="../assets/blank-movie.jpg" class="grid-img">
        <p class="mov-desc"> This is a movie description </p>
      </div>
      <div class="col text-center">
        <img src="../assets/blank-movie.jpg" class="grid-img">
        <p class="mov-desc"> This is a movie description </p>
      </div>
    </div>
    <div class="row" id="developer3">
      <div class="col text-center">
        <img src="../assets/blank-movie.jpg" class="grid-img">
        <p class="mov-desc"> This is a movie description </p>
      </div>
      <div class="col text-center">
        <img src="../assets/blank-movie.jpg" class="grid-img">
        <p class="mov-desc"> This is a movie description </p>
      </div>
      <div class="col text-center">
        <img src="../assets/blank-movie.jpg" class="grid-img">
        <p class="mov-desc"> This is a movie description </p>
      </div>
    </div>
  </div> -->

  <!-- list view of the recent releases  default hidden -->
  <div id="list-view">
    <div class="row">
      <div class="col text-center">
        <img src="../assets/blank-movie.jpg"  class="grid-img" style="width: 60%; height: auto; text-align: center; display: inline-block">
      </div>
      <div class="col text-center">
        <p class="mov-desc" style="float: left; padding-top: 30%;"> This is a movie description</p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <img src="../assets/blank-movie.jpg"  class="grid-img" style="width: 60%; height: auto; text-align: center; display: inline-block">
      </div>
      <div class="col text-center">
        <p class="mov-desc" style="float: left; padding-top: 30%;"> This is a movie description</p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <img src="../assets/blank-movie.jpg"  class="grid-img" style="width: 60%; height: auto; text-align: center; display: inline-block">
      </div>
      <div class="col text-center">
        <p class="mov-desc" style="float: left; padding-top: 30%;"> This is a movie description</p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <img src="../assets/blank-movie.jpg"  class="grid-img" style="width: 60%; height: auto; text-align: center; display: inline-block">
      </div>
      <div class="col text-center">
        <p class="mov-desc" style="float: left; padding-top: 30%;"> This is a movie description</p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <img src="../assets/blank-movie.jpg"  class="grid-img" style="width: 60%; height: auto; text-align: center; display: inline-block">
      </div>
      <div class="col text-center">
        <p class="mov-desc" style="float: left; padding-top: 30%;"> This is a movie description</p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <img src="../assets/blank-movie.jpg"  class="grid-img" style="width: 60%; height: auto; text-align: center; display: inline-block">
      </div>
      <div class="col text-center">
        <p class="mov-desc" style="float: left; padding-top: 30%;"> This is a movie description</p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <img src="../assets/blank-movie.jpg" class="grid-img" style="width: 60%; height: auto; text-align: center; display: inline-block">
      </div>
      <div class="col text-center">
        <p class="mov-desc" style="float: left; padding-top: 30%;"> This is a movie description</p>
      </div>
    </div>
  </div>

</body>


<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center">

      <!-- Grid column -->
      <div class="col-md-2">
        <h6 class="text-uppercase">
          <a href="../../../../cs4640/views/index.php">Main</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2">
        <h6 class="text-uppercase">
          <a href="../views/recently-released.php">Recently Released</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2">
        <h6 class="text-uppercase">
          <a href="../views/about.php">About</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2">
        <h6 class="text-uppercase">
          <a href="#!">User</a>
        </h6>
      </div>
      <!-- Grid column -->

    </div>
  </div>

</footer> -->
