.navbar {
    padding: 30px;
}

.container {
    padding: 25px 25px 25px 25px;
}

.page-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}