/* By Johnny Choi and Sammy Hecht */
/* css rules */

/* fix the layout on mobile screens */
@media only screen and (max-width: 768px) {

  #developer {
    width: 60%;
    display: block;

  }
  #developer2 {
    width: 60%;
    display: block;

  }
  #developer3 {
    width: 60%;
    display: block;

  }

}

html, body {
    height: 100%;
}

body {
    margin-bottom: 50px;
}
.navbar {
    padding: 2%;
}

.container {
    /*padding: 25px 25px 2px 25px;*/
    padding: 5% 5% 5% 5%;
}

.form-group {
    padding: 2px 2px 2px 2px;
}

.login-button {
    padding: 2px 2px 2px 2px;
}

/* add effects on the buttons */
.login-button:hover {
    background-color: grey;
}
.btn-send:hover {
    background-color: grey;
}


#toggle {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
}
#list-view {
  display: none;
}
.page-footer {
/*    position: absolute;*/
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
}

.movie {
  
  text-align: center;
}

.movie img {
  width: 20%;
  height: auto;

}


#developer img {
  width: 60%;
  height: auto;
  text-align: center;
  display: inline-block;
}
#developer2 img {
  width: 60%;
  height: auto;
  text-align: center;
  display: inline-block;
}
#developer3 img {
  width: 60%;
  height: auto;
  text-align: center;
  display: inline-block;
}


#contact-form {
  padding-left: 10%;
  padding-right: 10%;
}

#error {
  padding-left: 10%;
}
#login-error {
    text-align: center;
    padding: 2px 2px 2px 2px;
}
